html{
    background-color: #F5F5F5;
    margin:1em;
}

#konnichiwa{
    text-align: center;
    text-shadow: 0cqmax;
    background-color: #78C1F3;
}

#wel{
    text-align: center;
    background-color: #78C1F3;
}

