html{
    margin:1em;
}

img {
   height: 500px;
   width: 700px;
}

html{
    background-color: #F5F5F5;
}

h1{
    text-align: center;
    background-color: #78C1F3;
}

.chart{
    text-align: center;
    font-size: 2rem;
    background-color: #F2D8D8;
}